# Extensions
*.lkf
*.obl
*.xls

# Code Composer Studio
Project Files/.metadata/
Project Files/.jxbrowser-data/
Project Files/.ccsproject/
Project Files/.cproject/
Project Files/.settings/
Project Files/dynamic filter/Debug/
Project Files/dynamic filter/targetConfigs/
*.d
*.obj
*.mk
*.cmd
*.ccxml
*.txt


# Visual Studio
/diesel-tach/
/RemoteSystemsTempFiles/
/code/.vs/

# ST Visual Develop
/code/Debug/
/code/Release/
*.dep
*.wed
stm8_interrupt_vector.c

# Cosmic STM
/code/.Idea_Groups/
/code/.Idea_Temp/
*.prjsm8
*.o
ideastm8project*