# Extensions
*.lkf
*.obl
*.xls

# Code Composer Studio
*/metadata
*/jxbrowser-data
*/ccsproject
*/cproject
*/settings
**/dynamic-filter/Debug
**/dynamic-filter/targetConfigs
*.cmd


# Visual Studio
diesel-tach/
RemoteSystemsTempFiles/
**/.vs/

# ST Visual Develop
**/Debug/
**/Release/
**/stm8l00j3_Programmer
*.dep
*.stp
*.stw
*.wed
stm8_interrupt_vector.c

# Cosmic STM
**/.Idea_Groups/
**/.Idea_Temp/
*.prjsm8
*.o
ideastm8project*

# MATLAB
*.asv

# Visual Studio Code
.vscode/